@inherits LayoutComponentBase

<PageTitle>The Builders</PageTitle>

<div class="page">
    <div class="sidebar" hidden>
        <NavMenu />
    </div>

    <main>
        @Body
    </main>
</div>
