@page "/labourerprofilecomplete"
@inject NavigationManager Navigation

<style>
    .custom-radio {
        position: relative;
        cursor: pointer;
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

        .custom-radio input {
            opacity: 0;
            position: absolute;
            cursor: pointer;
        }

    .checkmark {
        width: 20px;
        height: 20px;
        background-color: white;
        border: 2px solid black;
        border-radius: 50%;
        display: inline-block;
        position: relative;
        vertical-align: middle;
        margin-right: 10px;
    }

    .custom-radio input:checked ~ .checkmark {
        background-color: #ffcb0f;
    }

    hero_area {
        position: relative;
    }

    .hero_bg_box .img-box img {
        width: 100%;
        height: auto;
        display: block;
    }

    .contact_bg_box .img-box img {
        width: 100%;
        height: auto;
        display: block;
    }

    .hero_area {
        position: relative;
        background-image: url('images/hero-bg.jpg');
        background-size: cover;
        background-position: center;
        height: 16vh;
        filter: brightness(0.95);
    }

    .contact_section {
        position: relative;
        background-image: url('images/contact-bg.jpg');
        background-size: cover;
        background-position: center;
        padding: 100px 0;
        filter: brightness(0.97);
    }
</style>


<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/responsive.css" rel="stylesheet" />


@if (GlobalVar.custemail == null)
{
<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <div class="hero_bg_box">
            <div class="img-box">
                <img src="images/hero-bg.jpg" alt="">
            </div>
        </div>

        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="contact_link-container">
                        <a href="" class="contact_link1">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Lorem ipsum dolor sit amet,
                            </span>
                        </a>
                        <a href="" class="contact_link2">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : +01 1234567890
                            </span>
                        </a>
                        <a href="" class="contact_link3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                demo@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                        <a class="navbar-brand" href="index.html">
                            <span>
                                THE BUILDERS
                            </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""></span>
                        </button>

                        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about"> About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/service"> Services </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/register"> Register </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>


    <section class="contact_section layout_padding">
        <div class="contact_bg_box">
            <div class="img-box">
                <img src="images/contact-bg.jpg" alt="">
            </div>
        </div>
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Complete your profile
                </h2>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <form @onsubmit="complete">
                            <div class="contact_form-container">
                                <div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="First Name" @bind="labourerReg.FName" required />

                                    </div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Last Name" @bind="labourerReg.LName" required />

                                    </div>
                                    <div>
                                        <select class="form-control" @bind="labourerReg.Skill" required>
                                            <option value="">Select Skill</option>
                                            <option value="plumber">Plumber</option>
                                            <option value="carpenter">Carpenter</option>
                                            <option value="electrician">Electrician</option>
                                            <option value="labourer">Labourer for General Tasks</option>
                                            <option value="painter">Painter</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Phone Number (e.g +923000000000)" @bind="labourerReg.Phone" required pattern="\+[9]{1}[2]{1}[3]{1}[0-9]{9}" />
                                    </div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="City" @bind="labourerReg.City" required />
                                    </div>
                                    <div>
                                        <select class="form-control" @bind="labourerReg.Experience" required>
                                            <option value="">Select your Experience in Years</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="5">5</option>
                                            <option value="10">10 or 10+</option>
                                        </select>
                                    </div>
                                    <div>
                                        <input type="text" class="form-control" placeholder="Price Per Day" @bind="labourerReg.Price" required />

                                    </div>
                                    <div>
                                        <p style="text-align:end"><b>I will complete my profile later. <a @onclick="logOut">Log Out</a></b></p>
                                    </div>
                                    <div class="btn-box ">
                                        <button type="submit">
                                            Complete Profile
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p style="background-color: red; color: #ffffff;  text-align: center; margin-top: 20px;">@errorMessage</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end contact section -->
    <!-- info section -->
    <section class="info_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_logo">
                        <a class="navbar-brand" href="index.html">
                            <span>
                                THE BUILDERS
                            </span>
                        </a>
                        <p>
                            dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_links">
                        <h5>
                            Useful Link
                        </h5>
                        <ul>
                            <li>
                                <a href="">
                                    dolor sit amet, consectetur
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    magna aliqua. Ut enim ad
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    minim veniam,
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    quisdotempor incididunt r
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_info">
                        <h5>
                            Contact Us
                        </h5>
                    </div>
                    <div class="info_contact">
                        <a href="" class="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Lorem ipsum dolor sit amet,
                            </span>
                        </a>
                        <a href="" class="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : +01 1234567890
                            </span>
                        </a>
                        <a href="" class="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                demo@gmail.com
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_form ">
                        <h5>
                            Newsletter
                        </h5>
                        <form action="#">
                            <input type="email" placeholder="Enter your email">
                            <button>
                                Subscribe
                            </button>
                        </form>
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="container-fluid footer_section">
        <p>
            Copyright &copy; 2024<span id="currentYear"></span>, All Rights Reserved by
            <a href="/">The Builders</a>
        </p>
    </footer>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
</body>
}
@code {
    private LabourerReg labourerReg { get; set; } = new LabourerReg();
    public string? password;
    public string errorMessage = "";


    private async Task complete()
    {
        labourerReg.LoggedInUserEmail = GlobalVar.labemail;
        DalConstruction.SaveLabourerInformation(labourerReg);
        Navigation.NavigateTo("/dashboard");
    }

    [Parameter]
    public string? input_user { get; set; }

    public async Task logOut()
    {
        GlobalVar.labemail = null;
        Navigation.NavigateTo("/login");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && GlobalVar.labemail == null)
        {
            Navigation.NavigateTo("/login");
        }
    }
}
