@page "/register"
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Cryptography.KeyDerivation;
@using System.Security.Cryptography;

<style>
        .custom-radio {
            position: relative;
            cursor: pointer;
            margin-right: 20px;
            display: flex;
            align-items: center;
        }

        .custom-radio input {
            opacity: 0;
            position: absolute;
            cursor: pointer;
        }

        .checkmark {
            width: 20px;
            height: 20px;
            background-color: white;
            border: 2px solid black;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            margin-right: 10px;
        }

        .custom-radio input:checked ~ .checkmark {
            background-color: #ffcb0f;
        }

    hero_area {
        position: relative;
    }

    .hero_bg_box .img-box img {
        width: 100%;
        height: auto;
        display: block;
    }

    .contact_bg_box .img-box img {
        width: 100%;
        height: auto;
        display: block;
    }

    .hero_area {
        position: relative;
        background-image: url('images/hero-bg.jpg');
        background-size: cover;
        background-position: center;
        height: 16vh; /* Adjust height as needed */
        filter: brightness(0.95); /* Adjust brightness value (0.7 is 70%) */
    }

    .contact_section {
        position: relative;
        background-image: url('images/contact-bg.jpg');
        background-size: cover;
        background-position: center;
        padding: 100px 0; /* Adjust padding as needed */
        filter: brightness(0.97); /* Adjust brightness value (0.7 is 70%) */
    }
    </style>


<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<link href="css/responsive.css" rel="stylesheet" />



<body class="sub_page">
    <div class="hero_area">
        <!-- header section strats -->
        <div class="hero_bg_box">
            <div class="img-box">
                <img src="images/hero-bg.jpg" alt="">
            </div>
        </div>

        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid">
                    <div class="contact_link-container">
                        <a href="" class="contact_link1">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Muslim Town, Rawalpindi, Pakistan
                            </span>
                        </a>
                        <a href="" class="contact_link2">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : +92 3005107960
                            </span>
                        </a>
                        <a href="" class="contact_link3">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                221375@students.au.edu.pk
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container">
                        <a class="navbar-brand" href="index.html">
                            <span>
                                THE BUILDERS
                            </span>
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""></span>
                        </button>

                        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/about"> About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/service"> Services </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/register"> Register </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">Contact us</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
    </div>


    <section class="contact_section layout_padding">
        <div class="contact_bg_box">
            <div class="img-box">
                <img src="images/contact-bg.jpg" alt="">
            </div>
        </div>
        <div class="container">
            <div class="heading_container heading_center">
                <h2>
                    Register An Account
                </h2>
            </div>
            <div class="">
                <div class="row">
                    <div class="col-md-7 mx-auto">
                        <form @onsubmit="register">
                            <div class="contact_form-container">
                                <div>
                                    <div>
                                        <input type="email" class="form-control" placeholder="Email" @bind="user.Email" required/>

                                    </div>
                                    <div>
                                        <input type="password" class="form-control" placeholder="Password" @bind="user.Password" required />

                                    </div>
                                    <div>
                                        <label class="custom-radio">
                                            <input type="checkbox" name="laborer" value="yes" @bind="isLaborer">
                                            <span class="checkmark"></span>
                                            I am a Laborer, Looking for work.
                                        </label>
                                    </div>
                                    <div>
                                        <p style="text-align:end"><b>Already have an account? <a href="/login" >LogIn</a></b></p>
                                    </div>
                                    <div class="btn-box ">
                                        <button type="submit">
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <p style="background-color: red; color: #ffffff;  text-align: center; margin-top: 20px;">@errorMessage</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="info_section ">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="info_logo">
                        <a class="navbar-brand" href="/">
                            <span>
                                THE BUILDERS
                            </span>
                        </a>
                        <p>
                            Building Your Future, One Tap At a Time.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_links">
                        <h5>
                            Useful Link
                        </h5>
                        <ul>
                            <li>
                                <a href="/">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="/about">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    Contact Us
                                </a>
                            </li>
                            <li>
                                <a href="/login">
                                    Log in
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_info">
                        <h5>
                            Contact Us
                        </h5>
                    </div>
                    <div class="info_contact">
                        <a href="" class="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Muslim Town, Rawalpindi, Pakistan
                            </span>
                        </a>
                        <a href="" class="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call : +92 3005107960
                            </span>
                        </a>
                        <a href="" class="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                221375@students.au.edu.pk
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info_form ">
                        <h5>
                            Newsletter
                        </h5>
                        <form @onclick="subscribe">
                            <input type="email" placeholder="Enter your email" @bind="GlobalVar.Semail">
                            <button>
                                Subscribe
                            </button>
                        </form>
                        <div class="social_box">
                            <a href="">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-youtube" aria-hidden="true"></i>
                            </a>
                            <a href="">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end info_section -->
    <!-- footer section -->
    <footer class="container-fluid footer_section">
        <p>
            Copyright &copy; 2024<span id="currentYear"></span>, All Rights Reserved by
            <a href="/">The Builders</a>
        </p>
    </footer>
    
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>
</body>

@code {
    private User user { get; set; } = new User();
    private bool isLaborer;
    public string? password;
    private bool userExists = false;
    public string errorMessage = "";

    private async Task register()
    {
        //string hashedPassword = PasswordHashing.HashPassword(password);

        //user.Password = hashedPassword;
        userExists = DalConstruction.UserExists(user.Email);
        if (!userExists)
        {
            user.UserType = isLaborer ? 1 : 2;
            user.isProfileComplete = 0;
            DalConstruction.SaveUserInformation(user);

            Navigation.NavigateTo("/login");
        }

        else
        {
            errorMessage = "User already exists.";
        }
        
    }
    public void subscribe()
    {
        DalConstruction.AddSubscriber(GlobalVar.Semail);
    }
}